
<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title> My app </title>
</head>
<body>
	<h1>Facial Recognition in the Browser</h1>
	<div id = "container">
		<video autoplay="true" id ="videoElement">
		</video>
	</div>
<script src="js/main.js"></script>
</body>
<html>
